<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-4 col-md">
            <h5>Категории</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Овощи</a></li>
                <li><a class="text-muted" href="#">Фрукты</a></li>
                <li><a class="text-muted" href="#">Мясо\рыба</a></li>
                <li><a class="text-muted" href="#">Алкоголь</a></li>
                <li><a class="text-muted" href="#">Бытовая химия</a></li>
            </ul>
        </div>
        <div class="col-4 col-md">
            <h5>Дополнительно</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Мы пишем</a></li>
            </ul>
        </div>
        <div class="col-4 col-md">
            <h5>О нас</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="{% url 'catalog:contacts_list' %}">Контакты</a></li>
            </ul>
        </div>
        <div class="col-12 col-md">
            FillStore &copy; 2024
        </div>
    </div>
</footer>