{#{% extends "includes/base.html" %}#}
{##}
{#{% block content %}#}
{##}
{#    <div class="container">#}
{#        <div class="col text-end">#}
{#        </div>#}
{#        <div class="row text-center">#}
{#            {% for version in object_list %}#}
{#                <div class="col-3 my-3">#}
{#                    <div class="card mb-4 box-shadow h-100">#}
{#                        <div class="card-header">#}
{#                            <h6 class="my-0 font-weight-normal"><a#}
{#                                    href="{% url 'catalog:product_info' pk=product.id %}">{{ product.title }}</a></h6>#}
{#                        </div>#}
{#                        <div class="card-body">#}
{#                            <div class="btn-group">#}
{#                                <a class="btn btn-sm btn-outline-secondary"#}
{#                                   href="{% url 'catalog:edit' pk=product.id %}">Редактировать версию</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="card-footer">#}
{#                            {% if product.current_version %}#}
{#                                <h6 class="card-title pricing-card-title">Версия#}
{#                                    продукта: {{ product.current_version.version_name }}</h6>#}
{#                            {% endif %}#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}

{#{% extends "includes/base.html" %}#}
{##}
{#{% block content %}#}
{#    <div class="container">#}
{#        <ul class="list-group">#}
{#            {% for version in object_list %}#}
{#                <li class="list-group-item">#}
{#                    Продукт: {{ version.product }} - Версия №{{ version.version_number }} - {{ version.version_name }}#}
{#                    {% if version.is_active %}#}
{#                        <span class="badge bg-success">Текущая версия</span>#}
{#                    {% endif %}#}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    </div>#}
{#{% endblock %}#}

{% extends "includes/base.html" %}

{% block content %}
    <div class="container">
        <ul class="list-group">
            {% for version in object_list %}
                <li class="list-group-item">
                    Продукт: {{ version.product.title }} - Цена: {{ version.product.price }} - Категория: {{ version.product.category }}
                    Версия №{{ version.version_number }}
                    {% if version.is_active %}
                        <span class="badge bg-success">Текущая версия</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
